<header class="navbar">
  <div class="navbar-inner">
    <% if @authenticated_user %>
      <%= link_to "BeautiFlow", stylist_path(@authenticated_user), :class => "brand"  %>
     <% else %>
      <%= link_to "BeautiFlow", root_path, :class => "brand"  %>
    <% end %>

    <ul class="nav pull-right">
      <li id="signin"><%= signed_in %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><%= link_to "Pricing", pricing_path %></li>
      <li><%= link_to "About Us", about_path %></li>
    </ul>

  </div>
</header>