<div class="form">
   <div class='field'>
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
   </div>

  <div class='field'>
    <%= f.label :street_address, "Street Address" %>
    <%= f.text_field :street_address %>
    <%= f.label :city, "City" %>
    <%= f.text_field :city %>
    <%= f.label :zip, "Zip" %>
    <%= f.text_field :zip %>
  </div>

  <div class='field'>
    <%= f.label :cell_phone, "Cell Phone" %>
    <%= f.text_field :cell_phone %>

    <%= f.label :home_phone, "Home Phone" %>
    <%= f.text_field :home_phone %>
  </div>

  <div class='field'>
    <%= f.label :client_email, "Email" %>
    <%= f.email_field :client_email %>
  </div>
</div>