<div class="client-list">
  <h2><%= @stylist.first_name.capitalize %>'s Client List</h2>

    <div>
      <%= link_to "Add New Client", new_stylist_client_path, class: "btn btn-success" %>
    </div>

  <table id="listing-clients" summary="Client List">
    <tr class="header">
      <th>First Name | </th>
      <th>Last Name | </th>
      <th>Address | </th>
      <th>City | </th>
      <th>State | </th>
      <th>Zip | </th>
      <th>Cell Phone | </th>
      <th>Home Phone | </th>
      <th>Email  | </th>
      <th>Actions   </th>
    </tr>
    <% @clients.each do |client| %>
    <tr>
      <td><%= client.first_name %></td>
      <td><%= client.last_name %></td>
      <td><%= client.street_address %></td>
      <td><%= client.city %></td>
      <td><%= client.state %></td>
      <td><%= client.zip %></td>
      <td><%= client.cell_phone %></td>
      <td><%= client.home_phone %></td>
      <td><%= client.client_email %></td>
        <td class="controls">
          <%= link_to "View", stylist_client_path(@stylist, client), class: "btn btn-success"  %>
          <%= link_to "Edit", edit_stylist_client_path(@stylist, client), class: "btn btn-primary" %>
          <%= link_to "Delete", stylist_client_path(@stylist, client), class: "btn btn-danger", :method => :delete, :confirm => "Are you sure?" %>
        </td>
    </tr>
  <% end %>
  </table>
  </div>
</div><!-- end client-list -->



