<div class="main-dashboard">
  <div class="outer-plate">
    <div class="stylist-info-box">
      <h1><%= "#{@authenticated_user.try(:first_name)}"%>'s Dashboard View</h1>
        <p>Member since: <%= member_since %></p>
        <p>User Name: <%= @stylist.user_name %></p>
        <p>Email: <%= @stylist.stylist_email %></p>
    </div>

  <ul id="control-panel">
    <li>
      <div class="control-btn" id="manage-client">
        <div class="control-plate" id="control-plate-client">
          <%= link_to "Manage Clients", stylist_clients_path(@stylist), :class => 'manage-btn', :id => 'client-btn-text' %>
        </div>
      </div>
    </li>

    <li>
      <div class="control-btn" id="manage-service">
        <div class="control-plate" id="control-plate-service">
          <%= link_to "View Appointments", appointments_path(@authenticated_user), :class=> 'manage-btn', :id => 'service-btn-text' %>
        </div>
      </div>
    </li>

    <li>
      <div class="control-btn" id="manage-profile">
        <div class="control-plate" id="control-plate-profile">
      <%= link_to "Edit my Profile", edit_stylist_path, :class => 'manage-btn', :id => 'profile-btn-text' %>
        </div>
      </div>
    </li>
  </ul>

  <div>
    <%= link_to "Delete my Account", stylist_path(@stylist), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger', :id => 'stylist-deleted'%>
  </div>
</div>