<h1>Appointments</h1>

<div id="appointments">
  <p>
    <%= link_to "New Appointment", new_appointment_path, class: "btn btn-success" %>
    <%= link_to "Back to Dashboard", stylist_path(@authenticated_user), class: "btn btn-warning" %>
  </p>

  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @appointments_by_date[date.to_datetime] %>
      <ul>

        <% @appointments_by_date[date].each do |appointment| %>

          <li><%#= link_to appointment.client.first_name, '#'  %></li>
          <li><%= link_to "harry", '#'  %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>




