
<div id="show_appointment">
 <div id="appointment_details">
 <h2>Review Appointment Details:</h2>

  <p>Client name: <%= @appointment.client_name.capitalize %>
  </p>
  <p>Appointment Date: <%=  @appointment.appointment_date.strftime("%B %e, %Y")  %></p>
</div>


  <%#= button_tag "Delete?", id: "delete_appt", :class => "btn btn-danger" %>

<ul id="appointment_actions">
  <li><%= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "btn btn-primary appt_btn_box" %></li>
  <li><%= link_to "Delete Appointment", @appointment, method: :delete, data: {confirm: "Delete"}, class: "btn btn-danger appt_btn_box" %></li>


  <li><%= link_to "Back to appointments", appointments_path, class: "btn btn-success appt_btn_box" %></li>
  <li><%= link_to "Back to Dashboard", @authenticated_user, class: "btn btn-warning appt_btn_box" %></li>
  <li><%= link_to "See Client Details", stylist_clients_path(@authenticated_user, @client), class: "btn btn-success appt_btn_box" %></li>
  <li><%= link_to "Appointment History", stylist_clients_path(@authenticated_user), class: "btn btn-info appt_btn_box" %></li>
</ul>


</div>

