<!DOCTYPE html>
<html>
<head>
  <title>BeautiFlow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

     <%= render "shared/sign_in" %>
     <%= render "shared/nav" %>
  <div class="container">

     <%= yield :submenu %>

     <%= display_flash %>

        <div>
          <%= yield %>
        </div>


     <%= render "shared/footer" %>

  <%= javascript_include_tag "alertify.js" %>

  </div><!-- end container -->

</body>
</html>
