<!DOCTYPE html>
<html>
<head>
  <title>BeautiFlow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
     <%= render "shared/nav" %> <!-- Find main nav bar in 'shared' dir -->


    <div class="row">
      <div class="span3">
      </div><!-- end "span3" -->

      <div class="span9">
        <%= display_flash %>

        <%= yield %>

      </div><!-- end "span9" -->
  </div><!-- end container -->

</body>
</html>
